body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Trebuchet MS", sans-serif;
}
.header {
	display: grid;
}

.main {
	display: grid;
}

.footer {
	width: 100%;
	display: grid;
}

h1 {
	display: flex;
}

